<article class="box-border max-w-full rounded-lg bg-white overflow-hidden shadow">
  <a href="{{ .ctx.RelPermalink }}" up-follow title="{{ .ctx.LinkTitle }}">
    {{ $lazy := .lazy -}}
    {{ $path := "" -}}
    {{ $color := "" -}}

    {{ with .ctx.Params.thumb -}}
      {{ with .path -}}
        {{ $path = . -}}
        {{ with .color }}{{ $color = . }}{{ end -}}
      {{ else -}}
        {{ $path = . -}}
      {{ end -}}
    {{ else -}}
      {{ with index .ctx.Params.images 0 }}
        {{ $path = printf "images/gallery/%s" .filename}}
        {{ $color = .color }}
      {{ end  -}}
    {{ end -}}

    {{ with $path -}}
      <picture>
        {{ partial "gallery/card/source.html" (dict "path" $path "format" "avif") }}
        {{ partial "gallery/card/source.html" (dict "path" $path "format" "webp") }}
        {{ partial "gallery/card/source.html" (dict "path" $path "format" "jpeg" "ext" "jpg") }}
        <img class="w-full" aria-hidden="true" width="300" height="200" src="https://ik.imagekit.io/kpc2/tr:w-300,h-200,c-maintain_ratio,fo-auto,f-jpg/{{ $path | safeURL }}"{{ if $lazy }} loading="lazy"{{ end }}{{ with $color }} style="background-color: {{ . | safeHTMLAttr }};"{{ end }} />
      </picture>
    {{- end }}
    <h3 class="p-4 text-2xl">{{ .ctx.Title }}</h3>
  </a>
</article>