<header class="mt-2 md:p-6 md:flex md:flex-row-reverse md:items-start md:justify-between lg:px-12">
  <div class="search-wrapper md:flex-auto md:ml-4">
    <input id="toggle" class="toggle-state" type="checkbox"><div class="search-box" id="search"></div><label for="toggle" class="toggle-btn" title="Open/close search bar. CTRL-SHIFT-F"></label>
  </div>
  <h1 class="m-6 text-4xl font-bold md:m-0">{{ .Title }}</h1>
</header>