{{ $title := replace (replace .img.name "-" " ") "_" " " | title -}}
<a href="https://ik.imagekit.io/kpc2/tr:f-jpeg/images/gallery/{{ .img.filename | safeURL }}" title="{{ $title }}">
  {{ $lazy := .lazy -}}
  <picture>
    <source src="https://ik.imagekit.io/kpc2/tr:h-400,f-avif/images/gallery/{{ .img.filename | safeURL }}" type="image/avif">
    <source src="https://ik.imagekit.io/kpc2/tr:h-400,f-webp/images/gallery/{{ .img.filename | safeURL }}" type="image/webp">
    <img class="w-full" src="https://ik.imagekit.io/kpc2/tr:h-400,f-jpeg/images/gallery/{{ .img.filename | safeURL }}"{{ if $lazy }} loading="lazy"{{ end }} width="{{ .img.width }}" height="{{ .img.height }}" alt="{{ $title }}">
  </picture>
</a>