{{- $kit := "https://ik.imagekit.io/kpc2/tr:w-300,h-200,c-maintain_ratio,fo-auto,f-jpg/images/gallery/" -}}
{{ $img := "" -}}
{{ $alt := ""  -}}
{{ with .Params.thumb_alt }}{{ $alt = . }}{{ end -}}
{{ with .Params.thumb }}{{ $img = . -}}
{{ else -}}
  {{ with index .Params.images 0 -}}
    {{ $img = .filename -}}
    {{ with .annotation }}{{ $alt = . }}{{ end -}}
  {{- end -}}
{{ end -}}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="EtchWood's {{ .Title | lower }} images.">
{{ with $img }}<meta property="og:image" data-pagefind-meta="image[content]" content="{{ printf "%s%s" $kit $img }}">{{ end }}
{{ with $alt }}<meta property="og:image:alt" data-pagefind-meta="image_alt[content]" content="{{ . }}" />{{ end }}
<meta property="og:url" content="{{ .Permalink }}">