{{ $mainjs := resources.Get "js/main.ts" -}}

{{ if eq hugo.Environment "production" -}}
  {{ $mainjs = js.Build (dict "minify" true) $mainjs | fingerprint -}}
{{- else -}}
  {{ $mainjs = js.Build $mainjs | fingerprint -}}
{{- end -}}

<script src="/_pagefind/pagefind-ui.js" defer></script>
<script src="{{ $mainjs.RelPermalink }}" integrity="{{ $mainjs.Data.Integrity }}" defer></script>
<!-- Warn old browsers --><script>setTimeout(function() { var $buoop={required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:!0,api:2021.09};function $buo_f(){var e=document.createElement("script");e.src="https://browser-update.org/update.min.js",document.body.appendChild(e)}try{document.addEventListener("DOMContentLoaded",$buo_f,!1)}catch(e){window.attachEvent("onload",$buo_f)} })</script>