{{ define "meta" }}{{ partial "gallery/opengraph.html" . }}{{ end -}}
{{ define "sources" }}{{ partial "gallery/sources.html" }}{{ end -}}
{{ define "mainClass" }}gallery-hall-main{{ end -}}
{{ define "mainAttr" }}data-pagefind-body{{ end -}}

{{ define "main" -}}
{{ partial "gallery/header.html" . -}}
{{ with .Content }}<article>{{ . }}</article>{{ end }}
<div class="gallery-hall px-2 pb-14 justify-center lg:px-8" data-pagefind-ignore>
  {{ range first 4 .Pages }}{{ partial "gallery/card.html" (dict "ctx" . "lazy" false) }}{{ end -}}
  {{ if gt (len .Pages) 4 }}{{ range after 4 .Pages }}{{ partial "gallery/card.html" (dict "ctx" . "lazy" true) }}{{ end }}{{ end -}}
</div>
{{ with .Params.images }}{{ partial "gallery" . }}{{ end -}}
{{/* template "_internal/pagination.html" . */}}
{{ end }}