{{ define "mainClass" }}gallery-hall-main{{ end -}}
{{ define "main" -}}
<header>
  <h1 class="m-6 text-4xl font-bold lg:mx-12">{{ .Title }}</h1>
  {{ with .Content }}{{ . }}{{ end }}
</header>
<div class="gallery-hall px-2 pb-14 justify-center lg:px-8">
  {{ range first 4 .Pages }}{{ partial "gallery/card.html" (dict "ctx" . "lazy" false) }}{{ end }}
  {{ if gt (len .Pages) 4 }}{{ range after 4 .Pages }}{{ partial "gallery/card.html" (dict "ctx" . "lazy" true) }}{{ end }}{{ end }}
</div>
{{/* template "_internal/pagination.html" . */}}
{{ end }}