<article>
	<h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
	<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .RelPermalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
