@import "splide/themes/splide-skyblue.min.css";
@import "unpoly/unpoly.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  address {
    @apply not-italic;
  }
  a:hover, a:focus {
    @apply text-green-500
  }
  form input, form select, form textarea, form button, .button {
    @apply min-h-12 border-2 border-gray-200 rounded-sm px-3 py-2 mb-4;
  }
  form button, .button {
    @apply rounded border border-gray-400 text-center shadow;
  }
  .button:hover, .button:focus {
    @apply text-white
  }
  form button:disabled, form button:disabled:hover, form button:disabled:focus,
  .button[href=""], .button[href=""]:disabled:hover, .button[href=""]:disabled:hover {
    @apply bg-gray-500
  }
  form label {
    @apply mb-2;
  }
  form label.required::after {
    content: " *";
    @apply text-red-600;
  }
  form label.required:hover::after {
    content: " * Required";
    @apply text-red-500;
  }
  form select {
    @apply bg-white;
  }
  form select option {
    @apply bg-white text-gray-700;
  }
  form select option[value=""] {
    color: #9ca3af;
  }
  form :focus {
    @apply border-green-500 outline-none
  }
  form :invalid {
    @apply text-red-500;
  }
}

.dark-shadow {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.5)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.3));
}

.home .nav-wrapper {
  @apply md:left-10 md:bg-black md:bg-opacity-50 md:absolute md:z-50 lg:bg-transparent lg:left-0 lg:w-full;
}
.home .mobile-menu-btn {
  @apply md:static md:left-0 ;
}
.testimony-slider blockquote p::before {
  content: "“";
}
.testimony-slider blockquote p:last-of-type::after {
  content: "”";
}

.testimony-slider .splide__pagination__page.is-active {
  transform: none;
}

.splide__pagination__page.is-active {
  @apply bg-green-500
}
.splide__pagination__page:hover {
  @apply bg-green-600
}

.server-response {
  @apply flex flex-col max-w-prose mx-auto justify-center items-center text-center;
}
.server-response article {
  @apply prose-lg mb-16;
}
.grecaptcha-badge {
    visibility: hidden;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.server-response {
  animation: fade-in 1s;
}

.fade-in {
  max-height: initial;
  animation: fade-in 1s;
  transition: max-height 1s ease-in;
}

.fade-out {
  max-height: 0;
  animation: fade-out 1s;
  opacity: 0;
  transition: max-height 1s ease-out;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2rem);
  margin: 0 auto;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
}
.featured > article {
  flex: 1 0 auto;
}
.gallery-hall-main {
  @apply bg-gray-200;
}
.gallery-hall {
  display: grid;
  width: calc(100% - 2rem);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}
.pagination {
  display: flex;
  column-gap: .5rem;
  justify-content: center;
}

.gallery-room .figure {
  @apply rounded-lg
}

.toggle-state {
  display: none; /* hide the checkboxes */
}

@media (min-width: 768px) {
  .gallery-hall-main > header h1 {
    margin: 5.6px 0;
  }
  .search-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .search-box {
    display: none;
    flex: auto;
  }
  .toggle-btn {
    height: 51.2px;
    display: flex;
    align-items: center;
  }
  .toggle-btn:after {
    content:'🔍︎';
    font-size: 1.5rem;
  }
  .toggle-state:checked + .search-box + .toggle-btn:after {
    content:'✖';
    font-size: 1.2rem;
  }
  .toggle-state:checked + .search-box {
    display:block;
  }
}