{{ define "main" -}}
<article class="max-w-2xl mx-auto my-10 px-4 text-center xs:px-8 md:my-16">
  <h1 class="text-6xl font-bold text-gray-900 mb-12">{{ .Title }}</h1>
  <div class="info">{{ with .Content }}{{ . }}{{ end }}</div>
  <ul class="testimonials">
  {{ with .Site.Data.testimonials -}}
    {{ range .list -}}
    <li class="quote">
      <blockquote class="text-xl mb-2 md:text-2xl"><p>{{ .content }}</p></blockquote>
      <p class="italic text-lg mb-12 md:text-xl">{{ .author }}, {{ .location }}</p>
    </li>
    {{- end }}
  {{- end }}
  </ul>
</article>
{{- end }}