<address>
  <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
  {{ $phone := replace .Site.Params.phone "-" "" -}}
  <a href="tel:+1{{ $phone }}">{{ .Site.Params.phone }}</a><br>
  {{ .Site.Params.days }}<br>
  {{ .Site.Params.hours }}
</address>