<nav>
  <ul>
    {{ with .Site.Menus.main }}
      {{- range .Sort }}
    <li><a href="{{ .URL }}" up-layer="root">{{ .Name | title }}</a></li>
      {{- end }}
    {{- end }}
    {{ with .Site.Menus.footer -}}
      {{ range .Sort -}}
    <li><a href="{{ .URL }}" up-layer="root">{{ .Name | title }}</a></li>
      {{- end }}
    {{- end }}
  </ul>
</nav>