<section>
  <header id="contact" class="flex items-end xl:justify-center">
    <h2 class="flex-none text-3xl font-medium my-12 mx-6 bg-white md:text-4xl lg:ml-10 xl:m-0 xl:mt-6 xl:px-10 xl:py-12 xl:pt-6 xl:z-20 2xl:text-4xl">Contact Us</h2>
  </header>
  <noscript>This contact form, along with many other features on this website, require JavaScript to function.</noscript>
  <form class="contact-form flex box-border w-full max-w-prose mb-10 px-6 mx-auto flex-col justify-center font-normal" action="contact-submit.php" method="post">
    <input type="hidden" name="timeout" value="3">
    <label class="required" for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name" required>
    <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your email address">
    <div class="flex flex-col xs:flex-row">
      <div class="flex flex-col min-w-0 flex-1">
        <label class="required" for="phone">Phone</label>
          <input class="required" type="tel" id="phone" name="phone" pattern="^[0-9-+s()\.]*$" minlength="10" maxlength="14" placeholder="Your phone number" required>
      </div>
      <div class="flex flex-col w-32 max-w-min xs:ml-4">
        <label for="phone_ext">Extension</label>
          <input type="tel" id="phone_ext" name="phone_ext" pattern="^[0-9-+\s()]*$" minlength="1" maxlength="6" placeholder="Ext (opt.)">
      </div>
    </div>
    <div class="website" aria-hidden="true">
      <label class="required" for="website">Website</label>
        <input class="required" type="url" id="website" name="website" placeholder="Your website address" autocomplete="off">
    </div>
    <label for="best_time">Best time call</label>
      <input type="text" id="best_time" name="best_time" placeholder="Examples: Fridays, noon, anytime, 5-7 pm, etc.">
    <div class="select-conditional flex flex-col">
      <label class="required" for="reason">Reason for inquiry</label>
        <select class="condition" id="reason" name="reason" required>
          <option value="">Please select</option>
          <option value="new_project" data-show="address">To discuss a new cabinetry project.</option>
          <option value="feedback" data-show="address">Feedback on previous work.</option>
          <option value="website_issue">Issues with website.</option>
          <option value="other" data-show="description">Other questions.</option>
        </select>
      <template class="if-address">
        <div class="address fade-in flex flex-col justify-center">
          <label for="street">Street</label>
            <input id="street" name="street" type="text" placeholder="123 Street Dr.">
          <label for="city">City</label>
            <input id="city" name="city" type="text" placeholder="Your City">
          <div class="flex flex-col xs:flex-row">
            <div class="flex flex-col flex-1">
              <label for="state">State</label>
                <select id="state" name="state">
                  <option value="">Select State</option>
                  <option value="AK">AK</option>
                  <option value="AL">AL</option>
                  <option value="AR">AR</option>
                  <option value="AZ">AZ</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DC">DC</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="IA">IA</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="MA">MA</option>
                  <option value="MD">MD</option>
                  <option value="ME">ME</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MO">MO</option>
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="NE">NE</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NV">NV</option>
                  <option value="NY">NY</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VA">VA</option>
                  <option value="VT">VT</option>
                  <option value="WA">WA</option>
                  <option value="WI">WI</option>
                  <option value="WV">WV</option>
                  <option value="WY">WY</option>
                  <option value="AA">AA</option>
                  <option value="AE">AE</option>
                  <option value="AP">AP</option>
                  <option value="AS">AS</option>
                  <option value="FM">FM</option>
                  <option value="GU">GU</option>
                  <option value="MH">MH</option>
                  <option value="MP">MP</option>
                  <option value="PR">PR</option>
                  <option value="PW">PW</option>
                  <option value="VI">VI</option>
                </select>
            </div>
            <div class="flex flex-col flex-1 xs:min-w-0 xs:ml-4">
              <label class="required" for="zip">Zip Code</label>
                <input id="zip" name="zip" type="number" minlength="5" maxlength="10" pattern="^\d{5}(?:[-\s]\d{4})?$" placeholder="00000-0000" required>
            </div>
          </div>
        </div>
      </template>
      <template class="if-description">
        <div class="description fade-in transition-opacity flex flex-col justify-center">
          <label class="required" for="description">Description</label>
          <input type="text" id="description" name="description" placeholder="Subject or brief summary for inquiry" required>
        </div>
      </template>
    </div>
    <label class="required" for="message">Message</label>
    <textarea rows="7" id="message" name="message" placeholder="Write message here" minlength="7" required></textarea>
    <div class="agree" aria-hidden="true">
      <label class="required" for="agree">I agree to the terms and conditions</label>
        <input class="required" type="checkbox" id="agree" name="agree" value="agree">
    </div>
    <button class="g-recaptcha w-28 self-center bg-green-600 text-white font-bold hover:bg-green-700 focus:bg-green-700" data-sitekey="6Lcrh-AcAAAAAIN44ZoBP-IwCERAxsbLGlDAhWzH" data-callback="gSubmitForm">Submit</button>
    <p class="prose text-center mx-auto text-xs text-gray-600">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a> apply.</p>
  </form>
  <div class="server-response"></div>
</section>