<div class="flex flex-col leading-loose md:flex-row lg:text-left">
  {{ define "partials/footer-section" -}}
  <section class="mb-8 md:mr-16 lg:mb-0">
    <h2 class="font-bold">{{ .title }}</h2>
    {{ .content }}
  </section>
  {{- end -}}
  {{ $baseURL := urls.Parse .Site.BaseURL }}
  {{ $splitURL := last 2 (split $baseURL.Host ".") }}
  {{ $website := printf "%v.%v" (index $splitURL 0) (index $splitURL 1) | upper }}
  {{ partial "footer-section" (dict "title" $website "content" (partial "footer/nav.html" . )) }}
  {{ partial "footer-section" (dict "title" "ADDRESS" "content" (printf "<address>%v<br>%v</address>" .Site.Title .Site.Params.address | safeHTML )) }}
  {{ partial "footer-section" (dict "title" "CONTACT INFO" "content" (partial "footer/contact-info.html" . )) }}
</div>
<div class="flex flex-col flex-grow min-w-32 justify-between lg:pt-2 lg:pb-1 lg:items-end">
  <div class="flex my-8 lg:my-0">
    {{ with .Site.Menus.icons -}}
      {{ range .Sort -}}
  <a href="{{ .URL }}" title="{{ .Name }}" target="_blank" rel="noopener noreferrer">
    {{ $icon := resources.Get (printf "images/icons/%v.svg" .Identifier) }}
    <img class="h-8 w-auto ml-4 invert" src="{{ $icon.RelPermalink }}" alt="{{ .Params.alt }}" loading="lazy">
  </a>
      {{- end }}
    {{- end }}
  </div>
  <p>&copy; {{ now.Year }} <a href="https://shopindi.com" title="More sites by KPC2.">KPC2</a>.</p>
</div>