<div class="gallery-room mx-12 mb-14">
  <noscript>
    {{ range first 4 . }}{{ partial "gallery/nojs-img.html" (dict "img" . "lazy" false) }}{{ end -}}
    {{ if gt (len . ) 4 }}{{ range after 4 . }}{{ partial "gallery/nojs-img.html" (dict "img" . "lazy" true) }}{{ end }}{{ end -}}
  </noscript>
  <dl id="img-search-data" hidden>
    {{ range . }}
    <dt>{{.name }}</dt>
    <dd>
      <div>
        <h2>folders</h2>
        {{ with .folders -}}<ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul>{{- end }}
      </div>
      <div>
        <h2>tags</h2>
        {{ with .tags -}}<ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul>{{- end }}
      </div>
    </dd>
    {{ end -}}
  </dl>
  <div id="gallery-content" type="application/json" data-pagefind-ignore hidden>
[{{- range $delim, $img := . }}{{ if $delim }},
{{ end -}}
{"thumbnailSrc":"https://ik.imagekit.io/kpc2/tr:h-400,f-avif/images/gallery/{{ $img.filename | safeURL }}",
"enlargedSrc":"https://ik.imagekit.io/kpc2/tr:f-avif/images/gallery/{{ $img.filename | safeURL }}",
"webpThumbSrc":"https://ik.imagekit.io/kpc2/tr:h-400,f-webp/images/gallery/{{ $img.filename | safeURL }}",
"webpEnlargedSrc":"https://ik.imagekit.io/kpc2/tr:f-webp/images/gallery/{{ $img.filename | safeURL }}",
"jpegThumbSrc":"https://ik.imagekit.io/kpc2/tr:h-400,f-jpeg/images/gallery/{{ $img.filename | safeURL }}",
"jpegEnlargedSrc":"https://ik.imagekit.io/kpc2/tr:f-jpeg/images/gallery/{{ $img.filename | safeURL }}",
"enlargedWidth":{{ $img.width }},"enlargedHeight":{{ $img.height }},
"title":"{{ replace (replace $img.name "-" " ") "_" " " | title }}",
"color":"#{{ $img.color }}"}{{ end }}]
  </div>
</div>