<div class="nav-wrapper dark-shadow
            flex p-4 pt-6 box-border bg-green-800 items-center
            xs:justify-center
            lg:p-8">

  <a class="mobile-menu-btn mr-6 xs:absolute xs:left-6 xs:mr-6 lg:hidden">
    {{ $burger := resources.Get "images/theme-icons/bars.svg" -}}
    <img class="h-10 w-auto" src="{{ $burger.RelPermalink }}" alt="Navigation Menu">
  </a>

  {{ with resources.Get .Site.Params.logo -}}
  <a href="/" up-follow title="Go to homepage" aria-hidden="true">
    <img class="h-12 w-auto" src="{{ .RelPermalink }}" alt="{{ site.Title }} website logo.">
  </a>
  {{- else -}}
  <h1>{{ site.Title }}</h1>
  {{- end }}

  {{ with .Site.Menus.main -}}
  <nav class="main-nav hidden text-2xl font-sans font-bold text-white lg:block lg:w-full">
    <ul class="flex justify-end lg:text-right">
      {{- range .Sort }}
      <li>
        <a class="ml-6 hover:text-white hover:underline" href="{{ .URL }}" up-follow>{{ .Name | upper }}</a>
      </li>
      {{- end }}
    </ul>
  </nav>
  {{- end }}

</div>