{{ define "sources" -}}
  {{ $formjs := resources.Get "js/contactForm.ts" -}}

  {{ if eq hugo.Environment "production" -}}
    {{ $formjs = js.Build (dict "minify" true) $formjs -}}
  {{ else -}}
    {{ $formjs = js.Build $formjs -}}
  {{ end -}}

{{ partialCached "google_analytics.html" . }}
{{ partialCached "head/scripts.html" . }}
{{ partialCached "head/styles.html" . }}
<link href="/js/splide/splide.min.js" rel="preload" as="script">
<link href="{{ $formjs.RelPermalink }}" rel="preload" as="script">
<noscript>
  <style>.website, .agree { position: absolute; width: 0; height: 0; z-index: -1000; overflow: hidden; }</style>
</noscript>
{{- end }}

{{- define "bodyClass" -}}home{{- end -}}

{{- define "main" -}}
  {{/* Hero Carousel */}}
  <div style="width: 100%; height: 56.25vw; max-height: 100vh;" aria-hidden="true">
    <div class="hero-slider">
      <div class="splide__track">
        <div class="hidden lg:block dark-shadow
                    w-full absolute bottom-0 z-10 text-center text-7xl text-white">
          <a href="#testimonials" class="continue-btn opacity-75 hover:opacity-100 hover:text-white focus:text-white">﹀</a>
        </div>
        <ul class="splide__list">
          {{ $slides := .Resources.ByType "image" -}}
          {{- range first 1 $slides -}}
          {{ $webp := .Resize "1440x webp photo" }}
          <li class="splide__slide">
            <picture>
              <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
              <img class="w-full max-h-screen object-cover overflow-hidden" src="{{ .RelPermalink }}" alt="">
            </picture>
          </li>
          {{ end -}}
          {{ range after 1 $slides -}}
          {{ $webp := .Resize "1440x webp photo" }}
          <li class="splide__slide"><img class="w-full max-h-screen object-cover overflow-hidden" data-splide-lazy="{{ $webp.RelPermalink }}" data-fallback-lazy="{{ .RelPermalink }}" alt=""></li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>

  {{/* Testimonials Carousel */}}
  <article id="testimonials" class="flex justify-center items-center px-6 py-12 flex-col lg:flex-row">
    <div class="max-w-full flex flex-col text-center items-center lg:items-end lg:text-right">
      <h1 class="font-serif text-4xl mb-3 md:text-5xl">{{ .Title }}</h1>
      <div class="testimony-slider flex flex-col max-w-full mt-2 text-xl md:max-w-2xl md:text-2xl">
        <div class="splide__track flex flex-col sm:min-h-24 md:min-h-32">
          <ul class="splide__list w-full">
            {{- with .Site.Data.testimonials }}
              {{- range .list }}
            <li class="splide__slide flex flex-col justify-center sm:min-h-24 md:min-h-32">
              <blockquote class="flex-auto flex items-center"><p>{{ .short }}</p></blockquote>
              <p class="italic text-lg md:text-xl">{{ .author }}, {{ .location }}</p>
            </li>
              {{- end }}
            {{- end }}
          </ul>
        </div>
      </div>
      <a class="text-xl my-2 lg:my-0 lg:text-sm" href="/testimonials/" up-follow title="Learn more about how D.L. Miller Woodworking was able to help his customers.">More Testimonials</a>
    </div>

    {{/* Big Logo */}}
    {{- with or (resources.Get .Site.Params.big_logo) (resources.Get .Site.Params.logo) }}
    <div class="w-full min-w-64 max-w-lg mt-6 lg:w-96 lg:mt-0 lg:ml-12" aria-hidden="true">
      <img class="w-full" src="{{ .RelPermalink }}" alt="{{ site.Title }} company logo.">
    </div>
    {{- end }}
  </article>

  {{/* Featured Gallery Pages */}}
  <section id="gallery" class="pb-10 bg-gray-200 shadow-inner">
    <header class="flex items-end xl:justify-center">
      <h2 class="flex-none text-3xl font-medium my-12 mx-6 bg-gray-200 md:text-4xl lg:ml-10 xl:m-0 xl:mt-6 xl:px-10 xl:py-12 xl:pt-6 xl:z-20 2xl:text-4xl">Gallery</h2>
    </header>
    <div class="featured xs:px-4 sm:px-2">
      {{ range (.Page.Params.featured) }}
        {{ with site.GetPage (path.Join "/gallery/" .) }}
          {{ partial "gallery/card.html" (dict "ctx" . "lazy" true) }}
        {{ end }}
      {{ end }}
    </div>
    <a href="/gallery/" up-follow title="See our full list of gallery sections." class="button w-32 pw-6 mx-auto mt-4 self-center flex justify-center items-center bg-green-600 text-white font-bold hover:bg-green-700 focus:bg-green-700">See More</a>
  </section>

  {{/* Contact Form */}}
  {{ partialCached "contact-form.html" . }}
{{- end }}